@font-face {
	font-family: "Exo 2 Bold";
	src: url("../tff/Exo2-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Exo 2 SemiBold";
	src: url("../tff/Exo2-SemiBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Exo 2 Medium";
	src: url("../tff/Exo2-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

:root {
	--body-dark-gray-1: #222327;
	--body-dark-gray-2: #24262c;
	--body-dark-gray-3: #2a2b2f;
	--navbar-dark-gray: #1c1d22;
	--navbar-border-dark: #0e0f11;
	--navbar-icon-off-focus: #555659;
	--navbar-icon-on-focus: white;
	--exo-2-b: "Exo 2 Bold", sans-serif;
	--exo-2-sb: "Exo 2 SemiBold", sans-serif;
	--exo-2-m: "Exo 2 Medium", sans-serif;
}

body {
	background-color: var(--body-dark-gray-3);
	color: white;
	font-family: var(--exo-2-m);
}

main {
	padding: 8em;
}

.body-dark-gray-1 {
	background-color: var(--body-dark-gray-1);
}

.body-dark-gray-2 {
	background-color: var(--body-dark-gray-2);
}

#idheader {
	box-shadow: black 1px 1px 10px;
}

.navbar-dark-gray {
	background-color: var(--navbar-dark-gray);
}

.navbar-border-dark {
	background-color: var(--navbar-border-dark);
}

[navbar-icon-on-focus] {
	color: var(--navbar-icon-on-focus);
	border: 2px solid rgba(0, 0, 0, 0.267);
	border-radius: 50%;
	padding: 15px;
	background-color: #333438;
	box-shadow: rgba(128, 128, 128, 0.705) 1px 1px 10px;
}

[navbar-icon-off-focus] {
	color: var(--navbar-icon-off-focus);
}

#img-brand {
	width: 4em;
	border-radius: 50%;
}

#foodCard {
	background-color: var(--body-dark-gray-2);
	width: 18rem;
	border: 1px solid rgba(128, 128, 128, 0.318);
	border-radius: 10px;
}

#divAutocomplete {
	width: 15.72em;
}

#food_name {
	background: none;
	border: none;
	border-bottom: 2px solid rgba(128, 128, 128, 0.4);
	width: 10.5em;
	color: white;
	font-family: var(--exo-2-sb);
	font-size: 1.5em;
	transition: 500ms;
}

#food_name:focus {
	outline: none;
	border-bottom: 2px solid rgba(190, 78, 33, 0.795);
}

.food_macro_kcal_input {
	width: 2.5em;
	margin: 0;
	padding: 0;
	background-color: transparent;
	outline: none;
	border: 1px solid red;
	border: none;
	color: var(--navbar-icon-off-focus);
}

#food_kcal {
	width: 4.5em;
}
